@media (min-width: 1224px) {
  .container {
    max-width: 1176px;
  }
}
@media (max-width: 1224px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-none {
    display: none !important;
  }
  .section--how-it-works .section__body .container {
    padding: 0;
  }
  .footer__logo {
    width: 100%;
  }
  .footer__logo p {
    max-width: none;
  }
  .footer__block {
    flex-grow: 1;
  }
  .footer__block__item {
    flex: 1;
    width: auto;
  }
}
@media (max-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-none {
    display: none !important;
  }
  .header__content {
    padding: 16px 0;
  }
  .header__content__group {
    gap: 16px;
  }
  .header__content__group__item {
    gap: 8px;
  }
  .header__menu {
    position: fixed;
    display: flex;
    top: 0;
    left: 100%;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    transition: var(--ts-medium);
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    background-image: url("../images/patterns/vector-2.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    background-color: var(--base-1);
  }
  .header__menu.show {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  .header__menu__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 16px 24px;
    color: var(--black-13);
    font-size: var(--fs-h6);
    font-weight: var(--fw-extra-bold);
    line-height: var(--lh-h6);
  }
  .header__menu__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-grow: 1;
    padding: 16px 24px;
  }
  .header__menu__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 32px 24px;
  }
  .header__menu__list {
    flex-direction: column;
    gap: 12px;
  }
  .header__menu__list li {
    display: flex;
  }
  .header__menu__list li a {
    padding: 16px 24px;
    font-size: 18px;
    line-height: 1.2;
    border-radius: 16px;
    border-radius: 100px;
  }
  .header__menu__list li a.active {
    font-weight: var(--fw-bold);
    border: 1px solid var(--blue-500);
    background: var(--blue-50, #f2f4fc);
  }
  .section--welcome .section__content {
    flex-direction: column;
    gap: 48px;
  }
  .section--welcome .section__header {
    max-width: 608px;
    align-items: center;
    text-align: center;
  }
  .section--welcome .section__header__content {
    align-items: center;
  }
  .section--about .section__body {
    flex-direction: column-reverse;
    gap: 16px;
  }
  .section--contact .section__header {
    width: 100%;
  }
  .section--contact .section__content {
    align-items: stretch;
    flex-direction: column;
  }
  .mn-services__card {
    max-width: none;
    width: calc(50% - 8px);
  }
  .mn-pattern--1 {
    top: 168px;
  }
  .mn-pattern--2 {
    top: 0;
  }
  .mn-pattern--3 {
    top: auto;
    bottom: 0;
  }
  .mn-banner__content {
    padding: 48px;
  }
  .mn-banner__graphic {
    width: 360px;
  }
}
@media (max-width: 768px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-none {
    display: none !important;
  }
  .section:first-child .section__content {
    padding-top: 24px;
  }
  .section:last-child .section__content {
    padding-bottom: 56px;
  }
  .section__content {
    gap: 32px;
    padding-top: 56px;
  }
  .section__content--row {
    flex-direction: column;
    justify-content: flex-start;
  }
  .section__header {
    gap: 24px;
  }
  .section__header__content {
    gap: 8px;
  }
  .section__header__title {
    font-size: var(--fs-h5);
    line-height: var(--lh-h5);
  }
  .section__header__title .mn-services__card__icon {
    display: none;
  }
  .section--welcome .section__content {
    gap: 40px;
  }
  .section--welcome .section__header {
    max-width: none;
  }
  .section--welcome .section__header__title {
    font-size: var(--fs-h4);
    line-height: var(--lh-h4);
  }
  .section--welcome .section__header .mn-highlight {
    font-size: var(--fs-h6);
    transform: rotate(-4deg) translateY(-4px);
  }
  .footer__body--secondary {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__block {
    flex-direction: column;
    gap: 32px;
  }
  .mn-btn--sm {
    padding: 8px 16px;
    height: 40px;
  }
  .mn-btn--lg {
    padding: 10px 16px;
    gap: 6px;
    height: 44px;
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
  }
  .mn-highlight {
    font-size: var(--fs-b3);
    transform: rotate(-3deg) translateY(1px);
  }
  .mn-highlight.start-animation {
    animation: none;
  }
  .mn-stats__body {
    flex-direction: column;
    gap: 8px;
  }
  .mn-banner {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0;
  }
  .mn-banner__graphic {
    width: 344px;
  }
  .mn-banner__content {
    padding: 32px 24px;
    align-items: center;
    text-align: center;
  }
  .mn-banner .section__header {
    align-items: center;
  }
  .mn-banner .section__header__content {
    align-items: center;
  }
  .mn-download__platforms {
    gap: 4px;
  }
  .mn-download__platforms img {
    height: 52px;
    width: auto;
  }
  .mn-services__card {
    width: 100%;
  }
  .mn-services__card:last-child {
    margin-bottom: 0;
  }
  .mn-blogs {
    flex-direction: column;
    gap: 32px;
  }
  .mn-blogs--top > div {
    width: 100%;
  }
  .mn-blogs__wrapper {
    flex-direction: column;
  }
  .mn-blogs__item {
    width: 100%;
  }
  .mn-top-blogs__item {
    max-width: none;
  }
  .mn-tags {
    justify-content: flex-start;
  }
  .mn-tabs {
    justify-content: flex-start;
  }
  .mn-tabs__item {
    flex-grow: 1;
  }
}
@media (max-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-none {
    display: none !important;
  }
  .section__content--center {
    align-items: stretch;
  }
  .section__footer .mn-btn {
    flex-grow: 1;
  }
  .section--welcome .section__header {
    align-items: flex-start;
    text-align: left;
  }
  .section--welcome .section__header__content {
    align-items: flex-start;
  }
  .section--welcome .section__body {
    align-items: stretch;
  }
  .mn-stats__card {
    width: 100%;
  }
  .mn-form {
    gap: 24px;
    padding: 24px;
  }
  .mn-form__body {
    gap: 24px;
  }
}/*# sourceMappingURL=responsive.css.map */