/* -------------------------------
        Table of Contents
----------------------------------
    1. Reset Styles
    2. Globals
    3. Defaults
    4. Layouts
    5. Components
    6. Modifiers
    7. Libraries
------------------------------- */
/* ------------------------------
        1. Reset Styles
------------------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* ------------------------------
        2. Globals
------------------------------ */
:root {
  /* Design color */
  --blue-50: #f2f4fc;
  --blue-100: #d6def5;
  --blue-200: #c3cef1;
  --blue-300: #a7b7ea;
  --blue-400: #96a9e6;
  --blue-500: #7c94e0;
  --blue-600: #7187cc;
  --blue-700: #58699f;
  --blue-800: #44517b;
  --blue-900: #343e5e;
  /* Base colors */
  --base-1: #ffffff;
  --base-2: #fdfdfd;
  --base-3: #f6f6f8;
  --base-4: #f1f2f4;
  --base-5: #dbdde4;
  --base-6: #c4c7d2;
  --base-7: #949aae;
  --base-8: #656d89;
  --base-9: #525b7b;
  --base-10: #364165;
  --base-11: #2e3a60;
  --base-12: #253158;
  --base-13: #121f4a;
  /* Semantic colors */
  --black-1: #ffffff;
  --black-2: #fcfcfc;
  --black-3: #f5f5f5;
  --black-4: #f0f0f0;
  --black-5: #d9d9d9;
  --black-6: #bfbfbf;
  --black-7: #8c8c8c;
  --black-8: #595959;
  --black-9: #454545;
  --black-10: #262626;
  --black-11: #1f1f1f;
  --black-12: #141414;
  --black-13: #000000;
  --sky-blue-50: #f2f8fc;
  --sky-blue-100: #d6eaf5;
  --sky-blue-200: #c3e0f1;
  --sky-blue-300: #a7d2ea;
  --sky-blue-400: #96c9e6;
  --sky-blue-500: #7cbce0;
  --sky-blue-600: #71abcc;
  --sky-blue-700: #58859f;
  --sky-blue-800: #44677b;
  --sky-blue-900: #344f5e;
  --yellow-50: #fcfbf2;
  --yellow-100: #f5f2d6;
  --yellow-200: #f1ecc3;
  --yellow-300: #eae4a7;
  --yellow-400: #e6de96;
  --yellow-500: #e0d67c;
  --yellow-600: #ccc371;
  --yellow-700: #9f9858;
  --yellow-800: #7b7644;
  --yellow-900: #5e5a34;
  --green-50: #f2fcf5;
  --green-100: #d6f5e1;
  --green-200: #c3f1d2;
  --green-300: #c3f1d2;
  --green-400: #96e6b1;
  --green-500: #7ce09e;
  --green-600: #71cc90;
  --green-700: #589f70;
  --green-800: #447b57;
  --green-900: #345e42;
  --pink-50: #fcf2fa;
  --pink-100: #f5d6ef;
  --pink-200: #f1c3e7;
  --pink-300: #eaa7db;
  --pink-400: #e696d5;
  --pink-500: #e07cca;
  --pink-600: #cc71b8;
  --pink-700: #9f588f;
  --pink-800: #7b446f;
  --pink-900: #5e3455;
  --red-50: #fcf2f2;
  --red-100: #f5d6d6;
  --red-200: #f1c3c3;
  --red-300: #eaa7a7;
  --red-400: #e69696;
  --red-500: #e07c7c;
  --red-600: #cc7171;
  --red-700: #9f5858;
  --red-800: #7b4444;
  --red-900: #5e3434;
  --orange-50: #fef7ea;
  --orange-100: #fce5bd;
  --orange-200: #fad89d;
  --orange-300: #f8c670;
  --orange-400: #f6bb55;
  --orange-500: #f4aa2a;
  --orange-600: #de9b26;
  --orange-700: #ad791e;
  --orange-800: #865e17;
  --orange-900: #664712;
  /* Font size - Headings */
  --fs-h1: 96px;
  --fs-h2: 60px;
  --fs-h3: 48px;
  --fs-h4: 34px;
  --fs-h5: 24px;
  --fs-h6: 20px;
  /* Line height - Headings */
  --lh-h1: 100px;
  --lh-h2: 64px;
  --lh-h3: 56px;
  --lh-h4: 40px;
  --lh-h5: 32px;
  --lh-h6: 24px;
  /* Font size - Sub titles */
  --fs-sub-title-1: 16px;
  --fs-sub-title-2: 14px;
  /* Line height - Sub titles */
  --lh-sub-title-1: 20px;
  --lh-sub-title-2: 16px;
  /* Font family */
  --primary-font-family: "Inter", sans-serif;
  /* Font size - Basic */
  --fs-b1: 16px;
  --fs-b2: 14px;
  --fs-b3: 14px;
  --fs-b4: 12px;
  --fs-b5: 10px;
  --fs-b6: 8px;
  /* Line height - Basic */
  --lh-b1: 24px;
  --lh-b2: 20px;
  --lh-b3: 24px;
  --lh-b4: 16px;
  --lh-b5: 12px;
  --lh-b6: 12px;
  /* Font weight */
  --fw-extra-bold: 900;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-thin: 300;
  /* Transitions */
  --ts-fast: all 100ms ease;
  --ts-medium: all 250ms ease;
  --ts-slow: all 500ms ease;
  --ts-delay-fast: 50ms;
  --ts-delay-medium: 100ms;
  --ts-delay-slow: 150ms;
}

/* ------------------------------
        3. Defaults
------------------------------ */
* {
  font-family: var(--primary-font-family);
}

html,
body {
  font-size: var(--fs-b2);
  font-weight: var(--fw-regular);
  letter-spacing: 0.4px;
  color: var(--black-13);
}

.container {
  width: 100%;
  max-width: 1176px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.nice-scroll {
  scrollbar-color: var(--black-1) var(--blue-600);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--blue-600);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: var(--black-1);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-moz-selection {
  background: var(--blue-500);
  color: var(--base-1);
}

::selection {
  background: var(--blue-500);
  color: var(--base-1);
}

/* ------------------------------
          4. Layouts
  ------------------------------ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: var(--ts-medium);
  z-index: 99;
}
.header.fixed {
  background: var(--base-1);
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.12);
}
.header.fixed .header__content {
  padding: 16px 0;
}
.header__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 24px 0;
  z-index: 1;
  transition: var(--ts-medium);
}
.header__content__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.header__content__group__item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__content__group__item.grow {
  flex-grow: 1;
}
.header__content__group.grow {
  flex-grow: 1;
}
.header__logo {
  display: block;
}
.header__logo img {
  height: 44px;
  width: auto;
}
.header__menu-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__menu-list li {
  display: flex;
}
.header__menu-list li a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: var(--black-13);
  font-size: var(--fs-b2);
  line-height: var(--lh-b2);
  border-radius: 16px;
  transition: var(--ts-medium);
  z-index: 1;
}
.header__menu-list li a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--blue-500);
  opacity: 0;
  visibility: hidden;
  transition: var(--ts-medium);
  z-index: -1;
}
.header__menu-list li a:hover:not(.active):after {
  top: 100%;
  margin-top: 1px;
  opacity: 1;
  visibility: visible;
}
.header__menu-list li a:focus {
  transition: var(--ts-fast);
}
.header__menu-list li a:focus:after {
  width: 12px;
  height: 5px;
}
.header__menu-list li a.active {
  background: var(--blue-50);
  border: 1.4px solid var(--blue-300);
}

.main {
  padding-top: 92px;
  overflow: hidden;
}

.footer {
  background: var(--blue-50);
  position: relative;
  z-index: 1;
}
.footer__content {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}
.footer__body {
  display: flex;
}
.footer__body--primary {
  gap: 16px;
  flex-wrap: wrap;
}
.footer__body--secondary {
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 16px 0;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 356px;
}
.footer__logo img {
  height: 62px;
  width: auto;
}
.footer__logo p {
  font-size: var(--fs-b2);
  line-height: var(--lh-b2);
  color: var(--black-8);
  max-width: 292px;
}
.footer__block {
  display: flex;
  gap: 24px;
}
.footer__block__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 236px;
}
.footer__block__item__title {
  font-size: var(--fs-sub-title-1);
  line-height: var(--lh-sub-title-1);
  color: var(--black-13);
  font-weight: var(--fw-extra-bold);
}
.footer__block__item__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__block__item__list a {
  display: inline-block;
  font-size: var(--fs-sub-title-2);
  line-height: var(--lh-sub-title-2);
  color: var(--black-13);
  font-weight: var(--fw-medium);
  transition: var(--ts-medium);
}
.footer__block__item__list a:hover {
  color: var(--blue-500);
}

.section {
  position: relative;
}
.section:first-child .section__content {
  padding-top: 32px;
}
.section:last-child .section__content {
  padding-bottom: 100px;
}
.section__content {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 32px;
  padding-top: 100px;
}
.section__content--row {
  flex-direction: row;
  justify-content: space-between;
}
.section__content--center {
  align-items: center;
}
.section__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.section__header--center {
  align-items: stretch;
  margin: 0 auto;
  max-width: 742px;
  width: 100%;
}
.section__header--center .section__header__content {
  text-align: center;
  align-items: center;
}
.section__header--row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.section__header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.section__header__title {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
  font-weight: var(--fw-extra-bold);
  color: var(--black-10);
}
.section__header__title .mn-services__card__icon {
  margin-right: 8px;
}
.section__header__desc {
  font-size: var(--fs-b3);
  line-height: var(--lh-b3);
  color: var(--black-9);
}
.section__body {
  display: flex;
  flex-direction: column;
}
.section__footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.section__footer--start {
  justify-content: flex-start;
}
.section__search {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section--welcome .section__content {
  padding: 56px 0 36px !important;
  gap: 24px;
}
.section--welcome .section__header {
  max-width: 372px;
}
.section--welcome .section__body {
  align-items: flex-end;
  justify-content: center;
}
.section--how-it-works .container-fluid {
  overflow: hidden;
}
.section--how-it-works .section__body {
  align-items: flex-end;
  justify-content: center;
}
.section--blogs .section__body {
  gap: 16px;
}
.section--about .section__body {
  flex-direction: row;
  gap: 56px;
}
.section--about .section__body__text {
  flex: 1;
}
.section--about .section__body__graphic {
  flex: 1;
}
.section--about .section__body__graphic img {
  width: 100%;
  height: auto;
}

/* ------------------------------
          5. Components
  ------------------------------ */
.mn-preloader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--base-1);
  z-index: 999;
  transition: var(--ts-slow);
  display: none;
}
.mn-preloader img,
.mn-preloader svg {
  height: 56px;
  width: auto;
  transition: var(--ts-medium);
}
.mn-preloader.hide {
  opacity: 0;
  visibility: hidden;
}
.mn-preloader.hide img {
  opacity: 0;
  visibility: hidden;
}

.mn-btn {
  position: relative;
  display: flex;
  outline: none;
  box-shadow: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  gap: 6px;
  height: 44px;
  font-size: var(--fs-b3);
  line-height: var(--lh-b3);
  font-weight: var(--fw-bold);
  color: var(--base-13);
  background: transparent;
  padding: 10px 16px;
  border: 1px solid var(--blue-500);
  border-radius: 12px;
  transition: var(--ts-medium);
  cursor: pointer;
  overflow: hidden;
}
.mn-btn svg,
.mn-btn img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
  transition: var(--ts-medium);
}
.mn-btn svg path {
  stroke: var(--blue-500);
  transition: var(--ts-medium);
}
.mn-btn:hover {
  background: var(--blue-50);
}
.mn-btn:hover svg {
  transform: translateX(4px);
}
.mn-btn--disabled, .mn-btn:disabled {
  opacity: 0.65;
  pointer-events: none;
  cursor: not-allowed;
}
.mn-btn--primary {
  background: var(--blue-500);
  color: var(--base-1);
  border: 1px solid var(--blue-500);
}
.mn-btn--primary svg path {
  stroke: var(--base-1);
}
.mn-btn--primary:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  transition: var(--ts-slow);
  transform: skew(45deg) translate(-150%, 0);
  z-index: 1;
}
.mn-btn--primary:hover {
  background: var(--blue-700);
  border-color: var(--blue-700);
}
.mn-btn--primary:hover svg {
  transform: none;
}
.mn-btn--primary:hover:after {
  opacity: 0;
  transform: skew(45deg) translate(0, 0) !important;
}
.mn-btn--primary.mn-btn--green {
  background: var(--green-600);
  color: var(--base-1);
  border-color: var(--green-600);
}
.mn-btn--primary.mn-btn--green svg path {
  stroke: var(--base-1);
}
.mn-btn--primary.mn-btn--green:hover {
  background: var(--green-500);
  border-color: var(--green-500);
}
.mn-btn--primary.mn-btn--sky {
  background: var(--sky-blue-600);
  color: var(--base-1);
  border-color: var(--sky-blue-600);
}
.mn-btn--primary.mn-btn--sky:hover {
  background: var(--sky-blue-500);
  border-color: var(--sky-blue-500);
}
.mn-btn--primary.mn-btn--pink {
  background: var(--pink-600);
  color: var(--base-1);
  border-color: var(--pink-600);
}
.mn-btn--primary.mn-btn--pink:hover {
  background: var(--pink-500);
  border-color: var(--pink-500);
}
.mn-btn--secondary {
  background: var(--base-3);
  color: var(--base-13);
  border-color: var(--base-3);
}
.mn-btn--secondary svg path {
  stroke: var(--base-13);
}
.mn-btn--secondary:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  transition: var(--ts-slow);
  transform: skew(45deg) translate(-150%, 0);
  z-index: 1;
}
.mn-btn--secondary:hover {
  background: var(--blue-50);
}
.mn-btn--secondary:hover svg {
  transform: none;
}
.mn-btn--secondary:hover:after {
  opacity: 0;
  transform: skew(45deg) translate(0, 0) !important;
}
.mn-btn--text {
  display: inline-flex;
  height: auto;
  padding: 0;
  border: 0;
  background: none;
  gap: 10px;
  color: var(--blue-700);
  font-size: var(--fs-b2);
  line-height: var(--lh-b2);
  font-weight: var(--fw-bold);
  overflow: visible;
}
.mn-btn--text svg {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mn-btn--text svg path {
  stroke: var(--blue-700);
}
.mn-btn--text:hover {
  background: none;
  color: var(--blue-500);
}
.mn-btn--text:hover svg {
  transform: translateX(10px);
}
.mn-btn--text:hover svg path {
  stroke: var(--blue-500);
}
.mn-btn--sm {
  padding: 8px 16px;
  height: 40px;
}
.mn-btn--lg {
  padding: 16px 24px;
  gap: 8px;
  height: 56px;
  font-size: var(--fs-b1);
  line-height: var(--lh-b1);
}

.mn-btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
.mn-btns--column {
  flex-direction: column;
  align-items: flex-start;
}

.mn-highlight {
  display: inline-flex;
  color: var(--base-1);
  font-size: var(--fs-h6);
  font-weight: var(--fw-bold);
  line-height: 1;
  padding: 4px 15px;
  border-radius: 18px;
  margin: 0 4px;
  transform: rotate(-4deg) translateY(-4px);
  background: linear-gradient(85deg, #7c94e0 -2.24%, #e07cca 106.46%);
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.12);
}
.mn-highlight--bold {
  font-weight: var(--fw-extra-bold);
}
.mn-highlight--green {
  background: linear-gradient(85deg, #71cc90 -2.24%, #71abcc 106.46%);
}
.mn-highlight.start-animation {
  animation: tada 1s ease-in-out forwards;
}

.mn-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.mn-stats__header {
  position: relative;
  color: var(--black-13);
  font-size: var(--fs-b3);
  line-height: var(--lh-b3);
}
.mn-stats__header strong {
  font-weight: var(--fw-extra-bold);
}
.mn-stats__header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  top: 50%;
  right: -4px;
  background: var(--blue-500);
  transform: translateY(-50%);
  animation: blink 0.7s infinite;
}
.mn-stats__header.stop-animation::before {
  animation: none;
}
.mn-stats__body {
  display: flex;
  gap: 16px;
}
.mn-stats__card {
  display: flex;
  gap: 16px;
  border-radius: 16px;
  background: var(--base-1);
  box-shadow: 0px 60px 54px 0px rgba(88, 105, 159, 0.15);
  padding: 24px;
}
.mn-stats__card--attorney .mn-stats__card__icon {
  background: var(--green-500);
}
.mn-stats__card--application .mn-stats__card__icon {
  background: var(--sky-blue-500);
}
.mn-stats__card__icon {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  flex-shrink: 0;
}
.mn-stats__card__icon svg,
.mn-stats__card__icon img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mn-stats__card__info {
  display: flex;
  flex-direction: column;
}
.mn-stats__card__title {
  position: relative;
  color: var(--black-9);
  font-size: var(--fs-b4);
  line-height: var(--lh-b4);
  margin-bottom: 8px;
}
.mn-stats__card__count {
  color: var(--base-13);
  font-size: var(--fs-h4);
  font-weight: var(--fw-bold);
  line-height: 1;
}
.mn-stats__card__cta {
  margin-top: 24px;
  border-color: var(--base-6);
}

.mn-pattern {
  position: absolute;
  z-index: 0;
}
.mn-pattern--1 {
  top: -92px;
  right: 0;
}
.mn-pattern--2 {
  top: -38%;
  left: 0;
}
.mn-pattern--3 {
  top: 38%;
  right: 0;
}
.mn-pattern--4 {
  top: 60%;
  left: 0;
}

.mn-how-it-works__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 30px 0;
  border-radius: 24px 24px 0 24px;
  flex-grow: 1;
  overflow: hidden;
  width: 300px;
  box-shadow: inset 0 0 0 2px transparent;
  transition: var(--ts-medium);
}
.mn-how-it-works__card:hover .mn-how-it-works__card__icon {
  transform: translateY(-8px);
}
.mn-how-it-works__card:hover .mn-how-it-works__card__picture {
  transform: translate(28px, 70px);
}
.mn-how-it-works__card:hover .mn-how-it-works__card__cta {
  top: calc(50% - 8px);
}
.mn-how-it-works__card:hover.green {
  background: var(--green-50);
  box-shadow: inset 0 0 0 2px var(--green-500);
}
.mn-how-it-works__card:hover.orange {
  background: var(--orange-50);
  box-shadow: inset 0 0 0 2px var(--orange-500);
}
.mn-how-it-works__card:hover.pink {
  background: var(--pink-50);
  box-shadow: inset 0 0 0 2px var(--pink-500);
}
.mn-how-it-works__card:hover.blue {
  background: var(--blue-50);
  box-shadow: inset 0 0 0 2px var(--blue-500);
}
.mn-how-it-works__card:hover.sky-blue {
  background: var(--sky-blue-50);
  box-shadow: inset 0 0 0 2px var(--sky-blue-500);
}
.mn-how-it-works__card.green {
  background: var(--green-100);
  box-shadow: inset 0 0 0 2px var(--green-100);
}
.mn-how-it-works__card.green .mn-how-it-works__card__icon {
  background: var(--green-500);
}
.mn-how-it-works__card.green .mn-how-it-works__card__cta {
  background: var(--green-500);
}
.mn-how-it-works__card.orange {
  background: var(--orange-100);
  box-shadow: inset 0 0 0 2px var(--orange-100);
}
.mn-how-it-works__card.orange .mn-how-it-works__card__icon {
  background: var(--orange-500);
}
.mn-how-it-works__card.orange .mn-how-it-works__card__cta {
  background: var(--orange-500);
}
.mn-how-it-works__card.pink {
  background: var(--pink-100);
  box-shadow: inset 0 0 0 2px var(--pink-100);
}
.mn-how-it-works__card.pink .mn-how-it-works__card__icon {
  background: var(--pink-500);
}
.mn-how-it-works__card.pink .mn-how-it-works__card__cta {
  background: var(--pink-500);
}
.mn-how-it-works__card.blue {
  background: var(--blue-100);
  box-shadow: inset 0 0 0 2px var(--blue-100);
}
.mn-how-it-works__card.blue .mn-how-it-works__card__icon {
  background: var(--blue-500);
}
.mn-how-it-works__card.blue .mn-how-it-works__card__cta {
  background: var(--blue-500);
}
.mn-how-it-works__card.sky-blue {
  background: var(--sky-blue-100);
  box-shadow: inset 0 0 0 2px var(--sky-blue-100);
}
.mn-how-it-works__card.sky-blue .mn-how-it-works__card__icon {
  background: var(--sky-blue-500);
}
.mn-how-it-works__card.sky-blue .mn-how-it-works__card__cta {
  background: var(--sky-blue-500);
}
.mn-how-it-works__card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 50%;
  margin-bottom: 16px;
  transition: var(--ts-medium);
  transition-delay: var(--ts-delay-fast);
}
.mn-how-it-works__card__icon img,
.mn-how-it-works__card__icon svg {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mn-how-it-works__card__icon img path,
.mn-how-it-works__card__icon svg path {
  stroke: var(--base-1);
}
.mn-how-it-works__card__title {
  color: var(--base-13);
  text-align: center;
  font-size: var(--fs-h5);
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-h5);
  margin-bottom: 20px;
}
.mn-how-it-works__card__picture {
  position: relative;
  transform: translateX(12px);
  transition: var(--ts-medium);
  width: 280px;
  height: auto;
  z-index: 1;
  transition-delay: var(--ts-delay-fast);
}
.mn-how-it-works__card__cta {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px;
  border-radius: 12px;
  height: 30px;
  padding: 6px 12px;
  color: var(--base-1);
  font-size: var(--fs-b4);
  font-weight: var(--fw-bold);
  line-height: var(--lh-b4);
  z-index: 0;
  transition: var(--ts-medium);
  transition-delay: var(--ts-delay-medium);
}
.mn-how-it-works__card__cta svg,
.mn-how-it-works__card__cta img {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

.mn-services {
  display: flex;
  flex-wrap: wrap;
}
.mn-services:after {
  content: "";
  display: block;
  clear: both;
}
.mn-services__card {
  display: flex;
  max-width: 365px;
  min-height: 184px;
  width: calc(33.33% - 16px);
  padding: 24px;
  gap: 12px;
  border-radius: 16px;
  background: var(--base-1);
  transition: var(--ts-medium);
  transition-delay: 100ms;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 16px;
  flex-grow: 1;
  border: 1px solid var(--base-3);
}
.mn-services__card:hover {
  box-shadow: 0px 60px 54px 0px rgba(88, 105, 159, 0.15);
  transform: translateY(-8px);
}
.mn-services__card:hover .mn-services__card__title svg {
  transform: translateX(52px);
}
.mn-services__card.green .mn-services__card__icon {
  background: var(--green-500);
}
.mn-services__card.orange .mn-services__card__icon {
  background: var(--orange-500);
}
.mn-services__card.pink .mn-services__card__icon {
  background: var(--pink-500);
}
.mn-services__card.blue .mn-services__card__icon {
  background: var(--blue-500);
}
.mn-services__card.sky-blue .mn-services__card__icon {
  background: var(--sky-blue-500);
}
.mn-services__card__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 12px;
}
.mn-services__card__icon svg,
.mn-services__card__icon img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mn-services__card__icon.green {
  background: var(--green-500);
}
.mn-services__card__icon.orange {
  background: var(--orange-500);
}
.mn-services__card__icon.pink {
  background: var(--pink-500);
}
.mn-services__card__icon.blue {
  background: var(--blue-500);
}
.mn-services__card__icon.sky-blue {
  background: var(--sky-blue-500);
}
.mn-services__card__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mn-services__card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  color: var(--black-13);
  font-size: var(--fs-b1);
  font-weight: var(--fw-bold);
  line-height: var(--lh-b1);
  min-height: 40px;
}
.mn-services__card__title svg {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
  transition: var(--ts-medium);
}
.mn-services__card__title svg path {
  stroke: var(--black-13);
}
.mn-services__card__desc {
  color: var(--black-9);
  font-size: var(--fs-b4);
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.mn-dot {
  display: inline-flex;
  color: var(--blue-500);
}
.mn-dot.start-animation {
  animation: bounce 2s ease forwards;
}

.mn-search {
  position: relative;
  display: flex;
  border: 1px solid var(--black-6);
  border-radius: 16px;
  overflow: hidden;
  transition: var(--ts-medium);
  z-index: 1;
}
.mn-search:focus-within {
  box-shadow: 0 0 0 6px var(--blue-100);
  border-color: var(--blue-500);
}
.mn-search__input {
  width: 100%;
  padding: 18px 60px 18px 24px;
  height: 60px;
  background: transparent;
  border: none;
  color: var(--black-13);
  font-size: var(--fs-b3);
  font-weight: var(--fw-medium);
  line-height: var(--lh-b3);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}
.mn-search__input::-moz-placeholder {
  color: var(--black-7);
}
.mn-search__input::placeholder {
  color: var(--black-7);
}
.mn-search__icon {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  z-index: 0;
}

.mn-tags {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.mn-tags__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 16px;
  color: var(--black-13);
  font-size: var(--fs-b3);
  font-weight: var(--fw-medium);
  line-height: var(--lh-b3);
  border-radius: 12px;
  background: rgba(169, 171, 175, 0.1);
  cursor: pointer;
  transition: var(--ts-medium);
}
.mn-tags__item:not(.mn-tags__item--selected):hover {
  background: rgba(169, 171, 175, 0.2);
}
.mn-tags__item--selected {
  background: rgba(101, 144, 255, 0.14);
}

.mn-banner {
  display: flex;
  align-items: center;
  padding-top: 32px;
  height: 378px;
  border-radius: 32px;
  overflow: hidden;
  background: url("../images/download-now/bg.png");
  background-size: cover;
  background-position: center;
}
.mn-banner__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 52px 80px 52px 42px;
}
.mn-banner__graphic {
  width: 412px;
  height: auto;
  align-self: flex-end;
}
.mn-banner__rate {
  display: flex;
  gap: 6px;
  align-items: center;
  color: var(--black-13);
  font-size: var(--fs-b2);
  line-height: var(--lh-b2);
}
.mn-banner__rate svg,
.mn-banner__rate img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
}

.mn-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

.mn-blogs {
  display: flex;
  gap: 16px;
}
.mn-blogs--top > div {
  width: calc(50% - 8px);
}
.mn-blogs--top .mn-blogs__wrapper {
  flex-direction: column;
}
.mn-blogs--top .mn-blogs__item {
  width: 100%;
}
.mn-blogs__wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.mn-blogs__item {
  padding: 16px;
  display: flex;
  flex-shrink: 0;
  width: calc(50% - 8px);
  gap: 16px;
  border-radius: 24px;
  background: var(--base-1);
  box-shadow: 0px 60px 54px 0px rgba(88, 105, 159, 0.15);
  cursor: pointer;
}
.mn-blogs__item:hover .mn-blogs__item__thumb {
  transform: rotate(-8deg);
}
.mn-blogs__item:hover .mn-blogs__item__body {
  transform: translateX(8px);
}
.mn-blogs__item:hover .mn-blogs__item__cta {
  color: var(--blue-500);
}
.mn-blogs__item:hover .mn-blogs__item__cta svg {
  transform: translateX(10px);
}
.mn-blogs__item:hover .mn-blogs__item__cta svg path {
  stroke: var(--blue-500);
}
.mn-blogs__item__thumb {
  width: 112px;
  height: 84px;
  flex-shrink: 0;
  border-radius: 16px;
  overflow: hidden;
  transition: var(--ts-medium);
}
.mn-blogs__item__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mn-blogs__item__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  gap: 16px;
  transition: var(--ts-medium);
}
.mn-blogs__item__title {
  color: var(--black-13);
  font-size: var(--fs-h6);
  font-weight: var(--fw-semi-bold);
  line-height: var(--lh-h6);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mn-top-blogs__item {
  position: relative;
  max-height: 512px;
  max-width: 556px;
  width: 100%;
  height: 100%;
  background: var(--base-1);
}
.mn-top-blogs__item__thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mn-top-blogs__item__title {
  position: absolute;
  bottom: 120px;
  padding: 32px;
  color: var(--base-1);
  font-size: var(--fs-h4);
  font-weight: var(--fw-bold);
  line-height: var(--lh-h4);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  z-index: 1;
  transform: translateX(100%);
  transition: var(--ts-slow);
  transition-delay: var(--ts-delay-medium);
  opacity: 0;
}

.mn-swiper__overlay {
  padding: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  z-index: 2;
}
.mn-swiper__nav {
  display: flex;
  align-items: center;
  gap: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.mn-swiper__pagination {
  display: block;
  color: var(--base-1);
  font-size: var(--fs-h6);
  font-weight: var(--fw-bold);
  line-height: var(--lh-h6);
  opacity: 0.8;
  text-align: center;
}
.mn-swiper__pagination span {
  display: inline-block;
  transition: var(--ts-medium);
  min-width: 30px;
}
.mn-swiper__pagination span.swiper-pagination-total {
  opacity: 0.5;
}
.mn-swiper__btn {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.mn-swiper__btn.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}
.mn-swiper__btn svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mn-swiper__btn svg path {
  stroke: var(--base-1);
}

.mn-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
}
.mn-modal--fade {
  transition: opacity 150ms linear;
}
.mn-modal--fade .mn-modal__dialog {
  transition: transform 150ms ease-out;
  transform: translate(0, -50px);
}
.mn-modal--fade:not(.mn-modal--show) {
  opacity: 0;
}
.mn-modal--show .mn-modal__dialog {
  transform: none;
}
.mn-modal--sm .mn-modal__dialog {
  max-width: 386px;
}
.mn-modal--md .mn-modal__dialog {
  max-width: 600px;
}
.mn-modal__dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  min-height: calc(100% - 3.5rem);
  margin: 1.75rem auto;
}
.mn-modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: var(--base-1);
  background-clip: padding-box;
  border-radius: 24px;
  padding: 12px 0;
  outline: 0;
}
.mn-modal__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 24px 0;
}
.mn-modal__header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-bottom: 4px;
}
.mn-modal__header__icon svg,
.mn-modal__header__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mn-modal__header__title {
  font-size: var(--fs-h5);
  font-weight: var(--fw-bold);
  line-height: var(--lh-h5);
}
.mn-modal__header__description {
  font-size: var(--fs-b1);
  line-height: var(--lh-b1);
  color: var(--black-13);
}
.mn-modal__body {
  padding: 12px 24px;
}
.mn-modal__footer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 24px;
}
.mn-modal__footer > .mn-btn {
  flex: 1;
}
.mn-modal__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  flex-shrink: 0;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.mn-modal__close svg,
.mn-modal__close img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.mn-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.mn-download__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
.mn-download__qr {
  width: 156px;
  height: 156px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mn-download__title {
  color: var(--black-13);
  font-size: var(--fs-h5);
  font-weight: var(--fw-bold);
  line-height: var(--lh-h5);
}
.mn-download__desc {
  color: var(--black-13);
  font-size: var(--fs-b1);
  line-height: var(--lh-b1);
}
.mn-download__platforms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.mn-download__platforms img {
  height: 56px;
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.mn-accordion {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
}
.mn-accordion__item {
  border-radius: 16px;
  padding: 16px;
}
.mn-accordion__item__header {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: var(--fs-b1);
  line-height: var(--lh-b1);
  font-weight: var(--fw-bold);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: var(--ts-delay-medium);
  cursor: pointer;
}
.mn-accordion__item__header__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  color: var(--blue-500);
  font-size: var(--fs-h4);
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-h4);
}
.mn-accordion__item__header__title {
  flex-grow: 1;
  color: var(--black-13);
  font-size: var(--fs-b1);
  line-height: var(--lh-b1);
  font-weight: var(--fw-bold);
}
.mn-accordion__item__header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  transition: var(--ts-delay-medium);
  background: var(--base-3);
}
.mn-accordion__item__header__icon svg,
.mn-accordion__item__header__icon img {
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: var(--ts-delay-medium);
}
.mn-accordion__item__header__icon svg path {
  stroke: var(--blue-600);
  transition: var(--ts-delay-medium);
}
.mn-accordion__item__body {
  display: none;
  font-size: var(--fs-b3);
  line-height: var(--lh-b3);
  padding-left: 56px;
}
.mn-accordion__item--show {
  background: var(--blue-50);
}
.mn-accordion__item--show .mn-accordion__item__header__icon {
  background: var(--blue-500);
}
.mn-accordion__item--show .mn-accordion__item__header__icon svg {
  transform: rotate(45deg);
}
.mn-accordion__item--show .mn-accordion__item__header__icon svg path {
  stroke: var(--base-1);
}

.mn-copyright {
  color: var(--black-13);
  font-size: var(--fs-b4);
  line-height: var(--lh-b4);
}

.mn-social-list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.mn-social-list img,
.mn-social-list svg {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
}

.mn-breadcrumbs {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--fs-b4);
  line-height: var(--lh-b4);
}
.mn-breadcrumbs__item {
  text-decoration: none;
  font-weight: var(--fw-medium);
  transition: var(--ts-medium);
  color: var(--black-8);
  transition: var(--ts-medium);
}
.mn-breadcrumbs__item--current {
  font-weight: var(--fw-bold);
}
.mn-breadcrumbs__item:hover:not(.mn-breadcrumbs__item--current) {
  color: var(--blue-600);
}
.mn-breadcrumbs__delimiter {
  color: var(--black-8);
}

.mn-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 744px;
  align-self: center;
  margin: 0 auto;
  gap: 32px;
}
.mn-content__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
}
.mn-content__body *,
.mn-content__body ::after,
.mn-content__body ::before {
  box-sizing: border-box;
  font-size: var(--fs-b1);
}
.mn-content__body hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}
.mn-content__body h1,
.mn-content__body h2,
.mn-content__body h3,
.mn-content__body h4,
.mn-content__body h5,
.mn-content__body h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: var(--fw-bold);
  color: var(--black-13);
}
.mn-content__body h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
}
.mn-content__body h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
}
.mn-content__body h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
}
.mn-content__body h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
}
.mn-content__body h5 {
  font-size: var(--fs-h5);
  line-height: var(--lh-h5);
}
.mn-content__body h6 {
  font-size: var(--fs-h6);
  line-height: var(--lh-h6);
}
.mn-content__body p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.mn-content__body abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
.mn-content__body address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
.mn-content__body ol,
.mn-content__body ul {
  padding-left: 2rem;
}
.mn-content__body dl,
.mn-content__body ol,
.mn-content__body ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.mn-content__body ol ol,
.mn-content__body ol ul,
.mn-content__body ul ol,
.mn-content__body ul ul {
  margin-bottom: 0;
}
.mn-content__body li {
  list-style-type: unset;
}
.mn-content__body dt {
  font-weight: 700;
}
.mn-content__body dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.mn-content__body blockquote {
  margin: 0 0 1rem;
}
.mn-content__body b,
.mn-content__body strong {
  font-weight: bolder;
}
.mn-content__body small {
  font-size: 0.875em;
}
.mn-content__body mark {
  padding: 0.1875em;
  color: var(--base-1);
  background-color: var(--blue-500);
}
.mn-content__body sub,
.mn-content__body sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
.mn-content__body sub {
  bottom: -0.25em;
}
.mn-content__body sup {
  top: -0.5em;
}
.mn-content__body a {
  color: var(--blue-500);
  text-decoration: underline;
}
.mn-content__body a:hover {
  color: var(--blue-600);
}
.mn-content__body a:not([href]):not([class]),
.mn-content__body a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
.mn-content__body code,
.mn-content__body kbd,
.mn-content__body pre,
.mn-content__body samp {
  font-family: var(--primary-font-family);
  font-size: 1em;
}
.mn-content__body pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
.mn-content__body pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
.mn-content__body code {
  font-size: 0.875em;
  color: var(--black-10);
  word-wrap: break-word;
}
.mn-content__body a > code {
  color: inherit;
}
.mn-content__body figure {
  margin: 0 0 1rem;
}
.mn-content__body img,
.mn-content__body svg {
  vertical-align: middle;
}
.mn-content__body table {
  caption-side: bottom;
  border-collapse: collapse;
}
.mn-content__body caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--black-8);
  text-align: left;
}
.mn-content__body th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
.mn-content__body tbody,
.mn-content__body td,
.mn-content__body tfoot,
.mn-content__body th,
.mn-content__body thead,
.mn-content__body tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
.mn-content__body label {
  display: inline-block;
}
.mn-content__body button {
  border-radius: 0;
}
.mn-content__body button:focus:not(:focus-visible) {
  outline: 0;
}
.mn-content__body button,
.mn-content__body input,
.mn-content__body optgroup,
.mn-content__body select,
.mn-content__body textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.mn-content__body button,
.mn-content__body select {
  text-transform: none;
}
.mn-content__body [role=button] {
  cursor: pointer;
}
.mn-content__body select {
  word-wrap: normal;
}
.mn-content__body select:disabled {
  opacity: 1;
}
.mn-content__body [list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}
.mn-content__body [type=button],
.mn-content__body [type=reset],
.mn-content__body [type=submit],
.mn-content__body button {
  -webkit-appearance: button;
}
.mn-content__body [type=button]:not(:disabled),
.mn-content__body [type=reset]:not(:disabled),
.mn-content__body [type=submit]:not(:disabled),
.mn-content__body button:not(:disabled) {
  cursor: pointer;
}
.mn-content__body ::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
.mn-content__body textarea {
  resize: vertical;
}
.mn-content__body fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.mn-content__body legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
.mn-content__body legend + * {
  clear: left;
}
.mn-content__body ::-webkit-datetime-edit-day-field,
.mn-content__body ::-webkit-datetime-edit-fields-wrapper,
.mn-content__body ::-webkit-datetime-edit-hour-field,
.mn-content__body ::-webkit-datetime-edit-minute,
.mn-content__body ::-webkit-datetime-edit-month-field,
.mn-content__body ::-webkit-datetime-edit-text,
.mn-content__body ::-webkit-datetime-edit-year-field {
  padding: 0;
}
.mn-content__body ::-webkit-inner-spin-button {
  height: auto;
}
.mn-content__body [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
.mn-content__body ::-webkit-search-decoration {
  -webkit-appearance: none;
}
.mn-content__body ::-webkit-color-swatch-wrapper {
  padding: 0;
}
.mn-content__body ::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}
.mn-content__body output {
  display: inline-block;
}
.mn-content__body iframe {
  border: 0;
}
.mn-content__body summary {
  display: list-item;
  cursor: pointer;
}
.mn-content__body progress {
  vertical-align: baseline;
}
.mn-content__body [hidden] {
  display: none !important;
}

.mn-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 16px 0;
}
.mn-tabs__item {
  padding: 12px;
  border-bottom: 2px solid var(--base-5);
  color: var(--black-13);
  font-size: var(--fs-b2);
  line-height: var(--lh-b2);
  cursor: pointer;
}
.mn-tabs__item--active {
  font-weight: var(--fw-bold);
  border-color: var(--blue-600);
}

.mn-blog {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.mn-blog__picture {
  overflow: hidden;
  border-radius: 16px;
}
.mn-blog__picture img {
  width: 100%;
  height: auto;
}

.mn-share {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mn-share__title {
  color: var(--black-13);
  font-size: var(--fs-b2);
  font-weight: var(--fw-bold);
  line-height: var(--lh-b2);
}
.mn-share__list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.mn-share__list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mn-share__list__item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 16px;
  background: var(--base-1);
  transition: all 250ms ease;
  cursor: pointer;
}
.mn-share__list__item__link svg {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mn-share__list__item__link svg path {
  stroke: var(--base-13);
  transition: all 250ms ease;
}
.mn-share__list__item__link:hover {
  background: var(--blue-500);
}
.mn-share__list__item__link:hover svg path {
  stroke: var(--base-1);
}
.mn-share__list__item__link--copy {
  background: var(--base-3);
}
.mn-share__list__item__link--copy:hover {
  background: var(--base-4);
}
.mn-share__list__item__link--copy:hover svg path {
  stroke: var(--base-13);
}

.mn-service {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.mn-service__picture {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  cursor: pointer;
}
.mn-service__picture img {
  width: 100%;
  height: auto;
}

.mn-contact {
  width: 645px;
}
.mn-contact__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mn-contact__list__item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.mn-contact__list__item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 12px;
}
.mn-contact__list__item__icon svg {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mn-contact__list__item__icon svg path {
  stroke: var(--base-1);
}
.mn-contact__list__item__icon.blue {
  background: var(--blue-600);
}
.mn-contact__list__item__icon.sky {
  background: var(--sky-blue-600);
}
.mn-contact__list__item__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mn-contact__list__item__info__label {
  color: var(--black-9);
  font-size: var(--fs-b4);
  line-height: var(--lh-b4);
}
.mn-contact__list__item__info__value {
  color: var(--black-13);
  font-size: var(--fs-b2);
  line-height: var(--lh-b2);
  font-weight: var(--fw-bold);
  transition: all 250ms ease-in-out;
}
.mn-contact__list__item__info__value:hover {
  color: var(--blue-500);
}

.mn-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  border-radius: 16px;
  background: var(--base-1);
  box-shadow: 0px 14px 65.4px -24px rgba(92, 84, 187, 0.2);
  width: 100%;
}
.mn-form__body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mn-form__footer {
  display: flex;
  gap: 12px;
}
.mn-form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mn-form__label {
  color: var(--black-13);
  font-size: var(--fs-b4);
  line-height: var(--lh-b4);
  font-weight: var(--fw-medium);
}
.mn-form__control {
  border-radius: 12px;
  border: 1px solid var(--black-6);
  background: var(--black-2);
  font-size: var(--fs-b3);
  line-height: var(--lh-b3);
  font-weight: var(--fw-medium);
  padding: 16px 24px;
  height: 56px;
  transition: all 250ms ease-in-out;
}
.mn-form__control::-moz-placeholder {
  color: var(--black-7);
  font-family: Inter;
  font-weight: var(--fw-medium);
}
.mn-form__control::placeholder {
  color: var(--black-7);
  font-family: Inter;
  font-weight: var(--fw-medium);
}
.mn-form__control:focus {
  border-color: var(--blue-500);
}
.mn-form__control--textarea {
  height: 124px;
  resize: none;
}
.mn-form__message {
  position: absolute;
  color: var(--black-13);
  font-size: var(--fs-b4);
  line-height: var(--lh-b4);
  color: var(--red-500);
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.mn-toaster {
  min-width: 250px;
  background: var(--black-8);
  color: var(--base-1);
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;
  position: fixed;
  right: -100%;
  top: 24px;
  font-size: var(--fs-b1);
  line-height: var(--lh-b1);
  transition: all 500ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.mn-toaster.show {
  visibility: visible;
  opacity: 1;
  right: 24px;
}
.mn-toaster.success {
  background: var(--green-500);
}
.mn-toaster.error {
  background: var(--red-500);
}

/* ------------------------------
          6. Modifiers
  ------------------------------ */
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

.mn-hidden {
  display: none;
}

/* ------------------------------
          7. Libraries
  ------------------------------ */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper--how-it-works {
  overflow: visible;
}
.swiper--how-it-works .swiper-slide {
  width: 300px;
}
.swiper--top-blogs {
  border-radius: 32px;
  overflow: hidden;
}
.swiper--top-blogs .swiper-slide-active .mn-top-blogs__item__title {
  transform: translateX(0);
  opacity: 1;
}

/* ------------------------------
          8. Animations
  ------------------------------ */
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1) rotate(-4deg) translateY(-4px);
  }
  10%, 20% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -4deg) translateY(-4px);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg) translateY(-4px);
  }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -4deg) translateY(-4px);
  }
  100% {
    transform: scale3d(1, 1, 1) rotate(-4deg) translateY(-4px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}/*# sourceMappingURL=style.css.map */